<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@(Url.Content("~/TemplateLayout/AdminPage/img/logo/logo.png"))" rel="icon">
    <title>Hotel - Admin</title>
    <link href="@(Url.Content("~/TemplateLayout/AdminPage/vendor/fontawesome-free/css/all.min.css"))" rel="stylesheet" type="text/css">
    <link href="@(Url.Content("~/TemplateLayout/AdminPage/vendor/bootstrap/css/bootstrap.min.css"))" rel="stylesheet" type="text/css">
    <link href="@(Url.Content("~/TemplateLayout/AdminPage/css/ruang-admin.min.css"))" rel="stylesheet">
    @RenderSection("Styles", required:false)
    <!-- Custom styles for this template-->
    <style>
        .tabA {
            text-decoration: none !important;
        }
    </style>
</head>


<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <partial name="SideBar"/>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                @await Component.InvokeAsync("TopBar")
                <!-- Topbar -->
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    @RenderBody()
                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <partial name="Footer"/>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="@(Url.Content("~/TemplateLayout/AdminPage/vendor/jquery/jquery.min.js"))"></script>
    <script src="@(Url.Content("~/TemplateLayout/AdminPage/vendor/bootstrap/js/bootstrap.bundle.min.js"))"></script>
    <script src="@(Url.Content("~/TemplateLayout/AdminPage/vendor/jquery-easing/jquery.easing.min.js"))"></script>
    <script src="@(Url.Content("~/TemplateLayout/AdminPage/js/ruang-admin.min.js"))"></script>
    <script src="@(Url.Content("~/TemplateLayout/AdminPage/vendor/chart.js/Chart.min.js"))"></script>
    <script src="@(Url.Content("~/TemplateLayout/AdminPage/js/demo/chart-area-demo.js"))"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
